
.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.image-leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-leftside img {
    width: 100%;
    height: 100%;
}

.login-rightside {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-rightside h1 {
    margin-bottom: 5px;
    font-size: 2em;
    color: #333;
    text-align: center;
}

.login-rightside p {
    color: gray;
}

.login-rightside img {
    max-width: 125px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.google-login {
    margin-top: 20px;
    width: 42%;
    justify-content: center;
    display: flex;
}

.google-login .google-button {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .google-login {
        width: 42%;
    }

    .login-rightside h1 {
        font-size: 2.5em;
    }

    .login-rightside img {
        max-width: 150px;
    }
}